@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic-VariableFont.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
