---
interface Service {
  number: string;
  title: string;
}

const services: Service[] = [
  {
    number: "01",
    title: "Product & Tech Strategy",
  },
  {
    number: "02",
    title: "Frontend Development",
  },
  {
    number: "03",
    title: "Backend & API Design",
  },
  {
    number: "04",
    title: "Cloud & DevOps",
  },
];
---

<section class="relative pt-6 md:pt-8 lg:pt-10 pb-12 md:pb-16 lg:pb-25">
  <!-- Content Container -->
  <div
    class="flex flex-col sm:flex-row sm:flex-wrap lg:flex-nowrap max-w-7xl mx-auto justify-between gap-6 md:gap-8 lg:gap-4 px-4 md:px-6 lg:px-8"
  >
    {
      services.map((service) => (
        <div class="flex flex-col space-y-1 w-full sm:w-[calc(50%-1rem)] lg:w-auto">
          <span class="text-white font-bold text-lg md:text-xl">
            <span class="text-secondary">#</span>
            {service.number}
          </span>
          <span class="text-white/70 text-sm md:text-base text-balance">
            {service.title}
          </span>
        </div>
      ))
    }
  </div>
</section>
